################### Airflow #######################
# Ignore everything in the airflow directory
airflow/*
# But do not ignore the dags directory inside airflow
!airflow/dags/

################## Virtual Env ####################
/env/

####################### Cache #####################
*__pycache__/
